%nav.center
  %ul.navbar
    %li.apple-button.first
      %a{href: '/'} Home
    %li.apple-button
      %a{href: '/products'} Products (coming soon)
    %li.apple-button
      %a{href: '/services'} Services (coming soon)
    %li.apple-button
      %a{href: '/about'} About
    %li.apple-button.last
      %a{href: '/contact'} Contact
