@import 'core_mixins';
@import 'core_variables';

body {
  background-color: #F2F2F2;
  font            : 13px "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  text-shadow     : 0 -1px 0 rgba(0,0,0,0.5);

}

.center { text-align: center; }
.left   { float: left; }
.right  { float: right; }
.clear  { clear: both; }

.apple-gradient {
  background: #8b8b8b;
  background: -moz-linear-gradient(top,  #8b8b8b 0%, #707070 50%, #5e5e5e 51%, #777777 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8b8b), color-stop(50%,#707070), color-stop(51%,#5e5e5e), color-stop(100%,#777777));
  background: -webkit-linear-gradient(top,  #8b8b8b 0%,#707070 50%,#5e5e5e 51%,#777777 100%);
  background: -o-linear-gradient(top,  #8b8b8b 0%,#707070 50%,#5e5e5e 51%,#777777 100%);
  background: -ms-linear-gradient(top,  #8b8b8b 0%,#707070 50%,#5e5e5e 51%,#777777 100%);
  background: linear-gradient(top,  #8b8b8b 0%,#707070 50%,#5e5e5e 51%,#777777 100%);
  filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#777777',GradientType=0 );
}

.apple-gradient-hover {
  background: #5d5d5d;
  background: -moz-linear-gradient(top,  #5d5d5d 0%, #424242 50%, #383838 51%, #535353 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d5d5d), color-stop(50%,#424242), color-stop(51%,#383838), color-stop(100%,#535353));
  background: -webkit-linear-gradient(top,  #5d5d5d 0%,#424242 50%,#383838 51%,#535353 100%);
  background: -o-linear-gradient(top,  #5d5d5d 0%,#424242 50%,#383838 51%,#535353 100%);
  background: -ms-linear-gradient(top,  #5d5d5d 0%,#424242 50%,#383838 51%,#535353 100%);
  background: linear-gradient(top,  #5d5d5d 0%,#424242 50%,#383838 51%,#535353 100%);
  filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5d5d', endColorstr='#535353',GradientType=0 );
}

.apple-gradient-keypress {
  @include box-shadow(inset -3px 3px 3px darken(#424242,10%) !important);
}

.navbar {
  display     : table;
  float       : left;
  width       : 940px;
  table-layout: fixed;
  list-style  : none;
  padding: 0;
}

.apple-button.first {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius   : 4px !important;
  -moz-border-radius               : 4px 0 0 4px;
  border-radius                    : 4px 0 0 4px;
}

.apple-button.last {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius   : 4px;
  -moz-border-radius                : 0 4px 4px 0;
  border-radius                     : 0 4px 4px 0;
}

.apple-button {
  @extend .apple-gradient;
  display           : table-cell;
  width             : 100%;
  overflow          : hidden;
  border-top        : 1px solid #7D7D7D;
  border-right      : 1px solid #565656;
  border-bottom     : 1px solid #575757;
  @include box-shadow(inset 1px 0 0 rgba(255,255,255,0.5));
  &:hover {
    @extend .apple-gradient-hover; }
  a {
    margin-top     : 17px;
    display        : block;
    float          : none;
    height         : 36px;
    text-decoration: none;
    color          : rgba(255,255,255,0.97);
  }
}

.main {
  clear: both;
  position: relative;
  display: block;
  width: 100%;
}
.content {
  @include border-radius(4px);
  @include box-shadow(0 0 5px #D8D8D8);
  background-color: $white;
  margin: 0 auto;
  padding-top: 40px;
}
.tagline {
  padding: 75px 0 50px 150px;
}
.plug {
  padding-top: 75px;
}
.bottom-links div {
  @include box-shadow(rgba(0,0,0,0.1) 0 1px 3px);
  @include border-radius(5px);
  margin-top: 17px;
  padding: 8px 0;
  width: 237px;
  height: 190px;
  border-top: 1px solid #f2f2f2;
	background: #f6f6f6;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(249,249,249,1)),color-stop(100%,rgba(240,240,240,1)));
	background:-webkit-linear-gradient(top,rgba(249,249,249,1) 50%,rgba(240,240,240,1) 100%);
	background:-moz-linear-gradient(top,rgba(249,249,249,1) 50%,rgba(240,240,240,1) 100%);
	background:-o-linear-gradient(top,rgba(249,249,249,1) 50%,rgba(240,240,240,1) 100%);
	background:-ms-linear-gradient(top,rgba(249,249,249,1) 50%,rgba(240,240,240,1) 100%);
	background:linear-gradient(top,rgba(249,249,249,1) 50%,rgba(240,240,240,1) 100%);
  &:hover {
  	background:#f0f0f0;
  	background:-moz-linear-gradient(top,rgba(249,249,249,1)50%,rgba(224,224,224,1)100%);
  	background:-webkit-gradient(linear,lefttop,leftbottom,color-stop(50%,rgba(249,249,249,1)),color-stop(100%,rgba(224,224,224,1)));
  	background:-webkit-linear-gradient(top,rgba(249,249,249,1)50%,rgba(224,224,224,1)100%);
  	background:-o-linear-gradient(top,rgba(249,249,249,1)50%,rgba(224,224,224,1)100%);
  	background:-ms-linear-gradient(top,rgba(249,249,249,1)50%,rgba(224,224,224,1)100%);
  	background:linear-gradient(top,rgba(249,249,249,1)50%,rgba(224,224,224,1)100%);
  }
  header {
    font: 16px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  }
}